@model IEnumerable<HalcyonAttendance.Models.AttendanceModel>

@{
    ViewData["Title"] = "LoadAttendanceHistory";
}

<center>
    <h1>Attendance History</h1>
</center>


<p>
    <div class="col-12 text-right"><a asp-action="Login" class="btn btn-primary">Return to Attendacne Pannel</a></div>
</p>

<div>
    <form asp-action="ReportGenerate" method="post">
        <span>Email : </span><input type="email" name="SearchEmail" />
        <span>From  : </span><input type="date" name="FromDate" />
        <span>Upto  : </span><input type="date" name="ToDate" />
        <input type="submit" value="Generate Report  " class="btn btn-success" />
    </form>
</div>
<br />

<div>
    <form method="post">
        <span>Email : </span><input type="email" name="SearchEmail" />
        <span>From  : </span><input type="date" name="FromDate" />
        <span>UpTo  : </span><input type="date" name="ToDate" />
        <input type="submit" value="Attendance History" class="btn btn-success" />
        <a asp-action="LoadAttendanceHistory"></a>
    </form>
</div>
<br />
<center>
    <h3>@ViewBag.message</h3>
</center>

<table class="table" id="student">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArrivalTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeavingTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LateEarly)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArrivalTime)
                </td>
                <td>
                    @if (item.LeavingTime == default(DateTime))
                    {
                        <p>Working</p>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.LeavingTime)
                    }

                </td>
                <td>
                    @if(item.LateEarly == true)
                    {
                        <p>Yes</p>
                    }
                    else
                    {
                        <p>No</p>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
