@model HalcyonAttendance.Models.EmployeeDetails

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>@Model.EmpName</h4>
    <hr />
    <div class="col-6">
                <img src="~/images/@Model.EmpImage"
                class="rounded-circle"
                height="70" width="70"
                asp-append-version="true" />
    </div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpPosition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpPosition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpSalary)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.Id }) |
    <a asp-action="ShowAllEmp">Back to List</a>
</div>
